{% extends 'base.html.twig' %}

{% block title %}Sf Live System{% endblock %}

{% block body %}
    <div class="row">
        {% for music in musics %}
                {{ component('MusicComponent', {music}) }}
        {% endfor %}
    </div>
{% endblock %}
